.plane {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  place-items: center;
  min-height: 50vh;
}

.title {
  margin-top: 40px;
}


.desc {
  margin-top: 20px;
  line-height: 24px;
  color: rgb(148, 163, 184);
}

.price {
  margin: 30px 0;
  font-size: 24px;
  font-weight: bold;
  color: #2FB5FC;
}

.image {
  max-width: 400px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 20px;
}
.createPlane{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}
.form {
  background: rgba(50, 61, 109, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  padding: 30px;
  width: 50vh;
}
.title{
  font-size: 40px;
}
.buyBtnContainer{
  padding: 20px 0;
}
.prevBtn{
  display: flex;
  margin-bottom: 20px;
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.ordertitle{
  margin-bottom: 25px;
}